<h1>Cloud SaaS App for YOU</h1>
<p>
  Solution SaaS de supervision 24x7 multi-sites,<br> compatibilité multi-OS et virtualisation,<br> console web de pilotage, <br>reporting temps réél, <br>interventions à distance, <br>services «à la carte», ... <br>
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>